#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
AWIKI_EMAS_ENABLED = NO
AWIKI_EMAS_APP_KEY =
AWIKI_EMAS_APP_SECRET =
AWIKI_EMAS_LOG_DEVICE_ID = NO
#include? "Emas.Debug.xcconfig"
APS_ENVIRONMENT = development
CODE_SIGN_ENTITLEMENTS = Runner/Runner.entitlements
OTHER_LDFLAGS = $(inherited) -ObjC
